@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Rambla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;

  color: #4A4A4A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
